<% layout("/layouts/boilerplate") %>

<body>
    <div class="row mt-3">
        <div class="col-8 offset-2" >
    <h2>Create New Listings</h2>
    <br>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
        <input name="listing[title]"
         id="title" placeholder="Enter Your Value" type="text" class="form-control" required>

          <div class="invalid-feedback">
            Title is Required
          </div>
        </div>
       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input name="listing[description]" id="description" placeholder="Enter Your description" required 
        class="form-control"> 
        <div class="invalid-feedback">
            Description is Required
           </div>
       </div>
       <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input type="file" name="listing[image]" id="image"
          class="form-control">
       </div>
       <div class="row">
        <div class="mb-3 col-md-4" >
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" id="price" placeholder="Enter Price" required  class="form-control">
            <div class="invalid-feedback">
               Price is Required
              </div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" id="country" required placeholder="Enter country" class="form-control">
            <div class="invalid-feedback">
                Country Name is Required
              </div>
        </div>
       </div>
       <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" id="location" required placeholder="Enter location" class="form-control">
        <div class="invalid-feedback">
            Location is Required
          </div>
    </div>
        
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br>
        <br>
    </form>
</div>
</div>
</body>

